@import 'variabili.css';
@import 'common.css';

body{
    font-family: 'Open Sans', sans-serif;
}

.logo{
    height: 150px;
    display: block;
}

main{
    padding: 20px 0;
}

main img{
    width: 80px;
}

footer{
    background-color: var(--ir-color-4);
}

footer ul a:hover{
    text-decoration: underline!important;
}

.creatore{
    background-color: rgb(24, 23, 50);
}

.comune{
    width: 80px;
}

.news{
    height: 100%;
    border: 1px solid var(--ir-color-1);
    border-radius: 10px;
    padding: 10px;
}